.addres {
  background-color: rgb(78 69 69);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-container {
  background-color: rgb(178, 158, 158);
  max-width: 570px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
