body {

  scrollbar-width: thin; 
  scrollbar-color: #000000 #ffffff; 


  &::-webkit-scrollbar {
    width: 12px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(83, 1, 1); 
    border-radius: 50%;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    background-color: rgb(244, 218, 218); 
  }
}
